nav{
    text-align: right; width:100%;
}
body{
    text-align: center;
    background: black
}
body {
 }
 p{
 color: aliceblue;
 }
 h1{
     color: aliceblue;
 }
h2{
 color: aliceblue;   
}
label{
    color: aliceblue;
}
nav a{
    color: white;
}
nav a{
    text-decoration: none;
}
h1{
    color: antiquewhite;
}
body{
    background-color: rgb(3, 16, 17);
}
h1{    
body{

}